<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Welcome to Boston Software Jobs</h1>
	<div>
	<% for (let company in companyList){ %>
		<div><%= company %></div>
	<% } %>
	</div>
</body>
</html>